*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: rgb(29, 28, 28);
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 80px;
}
select{
  font-size: 50px;
  background-color: rgb(139, 134, 134);
}
button{
  margin-top: 20px;
  padding: 10px;
  font-size: 50px;
  background-color: rgb(139, 134, 134);
  border: none;
}
button::hover{
  background-color: rgb(139, 134, 134);

}


